@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaushan+Script&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
    font-family: "fjalla one";
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #ebd379;
    color: #282c35;
    box-shadow: 0 0 25px white;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    z-index: 2;
}

.hea {
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #282C35;
}

hr {
    border: none;
    border-top: 1px solid #282C35;
}

.intro {
    color: #282C35;
}

.age,
.lice,
.proh,
.limi {
    margin-bottom: 15px;
}

h4 {
    color: #282C35;
}

.end {
    font-size: smaller;
    display: block;
    text-align: center;
    color: #282C35;
}

a {
    color: #282C35;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card {
        max-width: 100vh;
    }

    h4 {
        font-size:12px;
    }

    .age,
    .lice,
    .proh,
    .limi,
    .intro,
    .text {
        font-size:11px;
    }

    .card {
        max-width:fit-content;
    }

}


canvas {
    display: block;
    vertical-align: bottom;
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #282c35;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    background-position: 0 0, 2.5px 2.5px;
    z-index: 1;
}